<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="swebday1.Person"></bean>

	<!-- more bean definitions go here -->
	
	<bean id="allSome" class="swebday1.AllSome" init-method="AllSay">
	<property name="person">
	 <ref bean="person"></ref>
		</property>
	</bean>

</beans>